*{
    margin: 0%;
    border: 0px;
    
    
}

.container{
    background-color: whitesmoke;
    width: 100%;
}

/*  Navbar   */

.nav{
     display: flex;
    background-color: #ff5b02; 
    gap: 1200px;
    width: 100%;
}

.nav .logo{
    padding-left: 80px;
    
   
}

.nav .logo img{
    width: 250px;
    padding: 18px;
    

   
}

.hamburger{
    padding: 30px;
    font-size: 25px;
}

/* Navbar ends */



/* Search container */

.searchcontainer img{
    position: relative;
    width: 100%;
    height: 400px;
}


.text {
  position: absolute;
  top: 45%;
  left: 45%;
  color: white;
  font-size:40px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

.searchbar{
 position:absolute;
 top: 36%;
left: 55%;
}

.searchbar button{

 background-color: #ff5b02;
 height: 40px;
 width: 40px;
 border-radius: 50%;
 border: 1px solid black;

}

.searchbar input{
    padding: 10px 40px;
    border-radius:15px;
}

.searchbar button :hover{
  transform: scale(1.2); 
}

.ptext{
    position: absolute;
    left: 55%;
    top:57%;
    color:white;
    letter-spacing: 2px;
    font-size: 18px;
}

/* Search container ends */


/* CATEGORIES */

.categories{
    background-color: whitesmoke;
    
}

.categories p{
    font-size: 30px;
    letter-spacing: 6px;
    padding-left: 100px;
    padding-top: 40px;
   
}

.border{
    border: 2px solid orangered;
    width: 110px;
    margin-left: 100px;
    
    
  

}


/* CATEGORIES ENDS */

/* categoriescontainer  */

.categoriescontainer{
    
   
    width: 100%;
}

.cards{
     padding: 10px 10px;
     display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
}


.category-card{
    position: relative;
    background-color: white;
    margin: 10px 10px;
    width: 280px;
    
}

.category-card span{
    position:absolute;
    right: 7%;
    color: #ffffff;
    background-color: #ff5b02;
    border-radius: 12px;
    bottom: 140px;
    padding: 5px 5px;

}

.category-card img{
    width: 250px;
    padding: 5px 5px;
}

.category-card :hover{
    transform:scale(0.8);
    transition: ease-in-out 0.5s;
}
   

#faultimg span{
    position: absolute;
    bottom:183px ;
}

/* Categories container ends */
